.bookListSlot {
  list-style: none;
  padding: 0;
  li {
    border: 1px solid var(--foreground);
    padding: 10px;
    border-radius: 24px 10px;
    p {
      text-decoration: none;
      div {
        display: flex;
        a, p, h2 {
          margin: 0 2px;
          padding: 0;
        }
        p {
          color: var(--foreground);
        }
        &:hover {
          h2 {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.反転 {
  filter: invert(100%);
}

.中央揃え {
  text-align: center;
  width: 100%;
}

strong {
  color: rgb(255, 216, 88);
}

.mdxSection {
  p {
    margin: 5px auto;
    line-height: 1.8em;
  }
  figure {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    img {
      margin: 0;
      max-width: 100%;
      width: auto;
      max-height: 80lvh;
    }
  }
}

.noUnderline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

:root {
  --background: rgb(25, 33, 60);
  --foreground: white;
  --foreground-sub: rgba(255, 255, 255, 0.726);
  --a-default: rgb(255, 250, 230);
  --a-hover: rgba(255, 250, 230, 0.54);
}

a {
  color: var(--a-default);
  &:hover {
    color: var(--a-hover);
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: ZenMaru;
  color: var(--foreground);
  padding: 0;
}

@font-face {
  font-family: BizUDMincho;
  src: url('/fonts/BizUD.ttf');
}

@font-face {
  font-family: EpItalic;
  src: url('/fonts/EpItalic.ttf');
}

@font-face {
  font-family: EpNormal;
  src: url('/fonts/EpN.ttf');
}

@font-face {
  font-family: Sawarabi;
  src: url('/fonts/Sawarabi.ttf');
}

@font-face {
  font-family: FiraCode;
  src: url('/fonts/FiraCode.ttf');
}

@font-face {
  font-family: ZenMaru;
  src: url('/fonts/ZenMaru.ttf');
}

h1, h2, h3, h4, strong {
  font-family: Sawarabi;
}

h1 {
  text-align: center;
}