---
import SlideShow from '../components/SlideShow.svelte';

import type { ImageMetadata } from 'astro';

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  '../images/slideshow/*.{jpeg,jpg,png,gif}', 
  // eager: true を指定すると、ビルド時にすぐにインポートされ、非同期関数ではなく画像メタデータそのものになります。
  { eager: true }
);

const sortedImagePaths = Object.keys(imageModules).sort();

const imageMetadataList = sortedImagePaths.map(path => {
  return imageModules[path].default;
});
---

<!doctype html>
<html lang="ja" data-pagefind-ignore>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>スライドショウ</title>
  </head>
  <body>
    <section>
      <SlideShow images={imageMetadataList} client:load />
    </section>
  </body>
</html>