---
import SlideShow from '../components/SlideShow.svelte';
---

<!doctype html>
<html lang="ja" data-pagefind-ignore>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>スライドショウ</title>
  </head>
  <body>
    <section>
      <SlideShow client:load />
    </section>
  </body>
</html>