---
import Layout from "../../layouts/Layout.astro";
import JSRequired from "../../components/ErrorMessage/JSRequired.svelte";
import ThanksView from "../../components/FormsFunc/Thanks.svelte";
---

<Layout
  noindex={true}
  title='アンケート送信完了！ご協力ありがとうございました．'
>
  <section>
    <JSRequired thisPage="このアンケート" client:load />
    <ThanksView client:load />
  </section>
</Layout>